@media (max-width: 800px) {
  /* 800px or lesser */
  .navbar {
    padding: 15px;
  }

  .section1 {
    flex-direction: column;
    gap: 50px;
  }

  .section1 > .img-sec {
    order: -1;
  }

  .section1 > .img-sec > img {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .navbar > .nav-links {
    display: none;
  }
  .navbar > .toggler {
    display: block;
  }
}
